# VS Code & Databricks specific
.vscode/*
.history
.databricks
.dbx/
workspace/ # For Databricks Bundles if local workspace files are synced
# uv.lock
.devcontainer

# OS specific
.DS_Store

# Python build artifacts & cache
src/*.egg-info
src/default_detection/__pycache__/
src/default_detection/models/__pycache__/ # Anticipating a models sub-module
__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/ # General egg-info
pip-wheel-metadata/
*.egg
*.so # C extensions

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
.env/
env/ # Common alternative to venv
ENV/
*.env # Environment variable files
*.venv
env.bak/
venv.bak/

# Logs and debug
logs/
*.log # General log files
debug.log

# MLflow artifacts and experiment tracking
mlruns/
mlflow.db

# IDE / Editor settings (general)
.idea/ # IntelliJ
.ropeproject # Rope
.spyderproject
.spyproject

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Testing
test-reports/
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# PyBuilder
target/

# pyenv
.python-version

# Other
MANIFEST
.installed.cfg
pip-log.txt
pip-delete-this-directory.txt
*.manifest
*.spec

# Custom files / Wheels
**/*.whl
